.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-radius: 25px;
  border: 2px solid #dddddd;
  margin-right: 10px;
  margin-left: 10px;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

.chat_details {
  flex: 1;
}

.chat_details > p {
  color: gray;
}

.chat_timestamp {
  margin-left: auto;
  text-decoration: none;
  color: lightgray;
}

.chat_image {
  margin-right: 20px;
}
